<%%= simple_form_for(<%= "[:#{prefix}, @#{singular_table_name}]" %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> al intentar grabar estos datos:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
          <li><%%= msg %></li>
        <%% end %>
        </ul>
      </div>
    </div>
  <%% end %>

  <div class="form-inputs">
  <% attributes.each do |attribute| -%>
  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
      <%%= f.button :submit, 'Grabar', class: 'btn btn-primary' %>
  </div>
<%% end %>
