<div class="page-header">
  <h1>Ver <%= singular_table_name %></h1>
</div>

<p id="notice"><%%= notice %></p>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<dl class="dl-horizontal">
  <dt><strong><%= attribute.human_name %>:</strong></dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
</dl>

<% end -%>
<%%= link_to 'Editar', edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn btn-default' %>
<%%= link_to 'Atrás', :back, class: 'btn btn-default' %>
